<?xml version="1.0"?>
<configuration>
	<connectionStrings>
	<add name="bs" connectionString="Data Source=INBLRSE2701182\SQLEXPRESS;Initial Catalog=Library;Integrated Security=True"
	 providerName="System.Data.SqlClient" />
	<add name="ms" connectionString="Data Source=INBLRSE2701182\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
	 providerName="System.Data.SqlClient" />
	<add name="LIBRARYConnectionString" connectionString="Data Source=INBLRSE2701182\SQLEXPRESS;Initial Catalog=LIBRARY;Integrated Security=True"
	 providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
